body {

/*-----------------------------------------------------------
	Background image
--------------------------------------------------------*/
font-family: Verdana;
background-image: url("backgroundimage.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/*---------------------------------------
	End background image
---------------------------------------*/


.navbar {
  margin-bottom: 0;
}


h2,
h3 {
  font-weight: bold;
}
p {
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace;
  color: #cdcdcd;
  font-weight: bold;
}

/*---------------------------------------------------------
	My Name
---------------------------------------------------------*/

.my-head {
	font-family: "Lucida Console", Monaco, monospace;
	text-indent: 50px;
	margin-top: 200px;
}

.display-1 {
	font-size: 85px;
	color: #000;
}

.col-md-6 {
	font-family: "Lucida Console", Monaco, monospace;
}




/*-------------------------------------------------------------
	Dropdown menu
-------------------------------------------------------------*/

.dropdown-menu {
  background: #000;
  border-radius: 0;
  border: 0;
}

.dropdown-menu li a {
  padding: 10px;
  color: #fff;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
  background: #2B2929;
  color: #fff;
}

/*----------------------------------------------------------
	Containers
----------------------------------------------------------*/


.myBtn {
	-moz-box-shadow: -9px 8px 9px -23px #8a858a;
	-webkit-box-shadow: -9px 8px 9px -23px #8a858a;
	box-shadow: -9px 8px 9px -23px #8a858a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #383638), color-stop(1, #747d7d));
	background:-moz-linear-gradient(top, #383638 5%, #747d7d 100%);
	background:-webkit-linear-gradient(top, #383638 5%, #747d7d 100%);
	background:-o-linear-gradient(top, #383638 5%, #747d7d 100%);
	background:-ms-linear-gradient(top, #383638 5%, #747d7d 100%);
	background:linear-gradient(to bottom, #383638 5%, #747d7d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#383638', endColorstr='#747d7d',GradientType=0);
	background-color:#383638;
	border:1px solid #615c61;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:Georgia;
	font-size:18px;
	padding:10px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}

.myBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #454545));
	background:-moz-linear-gradient(top, #000000 5%, #454545 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #454545 100%);
	background:-o-linear-gradient(top, #000000 5%, #454545 100%);
	background:-ms-linear-gradient(top, #000000 5%, #454545 100%);
	background:linear-gradient(to bottom, #000000 5%, #454545 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#fff',GradientType=0);
	background-color:#000000;
	color:#fff;
}
.myBtn:active {
	position:relative;
	top:1px;
}

.card-text {
	color: #000;
	font-size:14px;
}

.card-title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
	
.contact {
	color: #000;
}


/*---------------------------------------
	FOOTER 
---------------------------------*/

.page-footer {
	background-color: #000;
}



