body {

/*-----------------------------------------------------------
	Background image
--------------------------------------------------------*/

background-image: url("backgroundimage.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/*---------------------------------------
	End background image
---------------------------------------*/


.navbar {
  margin-bottom: 0;
}


h2,
h3 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: #cdcdcd;
}

/*---------------------------------------------------------
	My Name
---------------------------------------------------------*/

.my-head {
	font-family: "Lucida Console", Monaco, monospace;
	text-indent: 50px;
	margin-top: 200px;
}

h1 {
	font-size: 75px;
}



/*-------------------------------------------------------------
	Dropdown menu
-------------------------------------------------------------*/

.dropdown-menu {
  background: #000;
  border-radius: 0;
  border: 0;
}

.dropdown-menu li a {
  padding: 10px;
  color: #fff;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
  background: #2B2929;
  color: #fff;
}

/*----------------------------------------------------------
	Containers
----------------------------------------------------------*/


.button {
	background-color: dark;
}




}